<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <h1 class="visually-hidden">Default template</h1>
    <%- include('partials/header') %>
    <div class="g-body">
      <div class="g-left-panel">
        <% if (locals.sections && locals.sections.length) { %>
          <!-- is this TOC -->
          <%- include('partials/sectionList') %>
        <% } %>
        <!-- Include sibling docs on normal pages -->
        <% if (locals.siblings && siblings.length) { %>
        <%- include('partials/siblingList', {kicker: template('folder.siblingList.heading')}) %>
        <% } %>
      </div>

      <div class="g-main-content">
        <div class="g-main-docinfo">
          <% if (locals.title) { %>
          <% if (locals.duplicates) { %>
            <%- include('partials/warning', {message: template('warning.duplicate', locals.duplicates, locals.parentId) }) %>
          <% } %>
          <h1 class="headline"><%= title %></h1>
          <div class="kicker">
            <div class="attribution">
                <% if (locals.byline) { %>
                  <p>
                    By <span class="author"><%=locals.byline %></span>.
                  </p>
                <% } %>
                <% if (locals.lastUpdatedBy || locals.byline) { %>
                  <p>
                    <% if (locals.lastUpdatedBy) { %>
                      Last edited by <span class="author"><%= lastUpdatedBy %></span><span class="date" data-date="<%= locals.modifiedAt %>"></span>.
                    <% } %>
                    <% if (locals.byline) { %>
                      Created <span class="date" data-date="<%= locals.createdAt %>"></span>.
                    <% } %>
                  </p>
                <% } %>
                <script>
                  (function() {
                    $('.date').each(function(i) {
                      const date = $(this)
                      const momentDate = moment(date.data('date'))
                      if (momentDate.isValid()) {
                        date.html(moment().diff(momentDate, 'years') > 1 ? ` on ${momentDate.format('MMMM D, YYYY')}` : ` ${momentDate.fromNow()}`)
                        date.attr('title', momentDate.format('MMMM D, YYYY'))
                      }
                    })
                  })()
                </script>
              </p>
            </div>
            <% if (locals.editLink) { %>
              <div class="tool">
                <a href="<%- editLink %>" id="edit-button" target="_blank">Edit<i class="fa fa-pencil" aria-hidden="true"></i></a>
              </div>
            <% } %>
          </div>
          <% } %>
        </div>
  
      
        <% if (locals.content) { %>
        <%- content %>
        <% } %>

        <% if (locals.children && children.length) { %>
        <%- include('partials/childrenList', {children, kicker: template('folder.childrenList.kicker', title)}) %>
        <% } %>
      </div>

      <%- include('partials/footer', { pageType: 'document', topLevelFolder: url.split('/')[1] }) %>
    </div>
  </body>
</html>
